@import "tailwindcss";

@theme {
  --color-primary: #009F7F;
  --color-darkPrimary: #019376;
  --color-secondary: #9333EA;
}

html,
body,
#root {
  height: 100%;
}

.cart_body .ant-drawer-body {
  padding: 0 !important;
}